.grid__1,
.grid__2,
.grid__3,
.grid__4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* grid 2 */
.grid__2 > div:nth-child(1) {
    order: 2;
}
.grid__2 > div:nth-child(2) {
    order: 1;
}
.grid__2 > div:nth-child(3) {
    order: 3;
}
/* grid 3 */
.grid__3 > div:nth-child(1) {
    order: 1;
}
.grid__3 > div:nth-child(2) {
    order: 2;
}
.grid__3 > div:nth-child(3) {
    order: 3;
}
/* grid 4 */
.grid__4 > div:nth-child(1) {
    order: 3;
}
.grid__4 > div:nth-child(2) {
    order: 2;
}
.grid__4 > div:nth-child(3) {
    order: 1;
}

.grid__ItemBig{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(50% - 20px);
    height: auto;
    background-color: black;
    margin: 10px;

}
.grid__ItemSmall{
    width: calc(25% - 20px);
    height: auto;
    background-color: white;
    margin: 10px;

}
@media screen and (max-width: 1024px){
    .grid__1,
    .grid__2,
    .grid__3,
    .grid__4 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        align-items: center;
}
.grid__ItemBig{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 20px);
    height: auto;
    background-color: black;
    margin: 10px;

}
.grid__ItemSmall{
    width: calc(100% - 20px);
    display: flex;
    margin: 10px;
    height: auto;
    background-color: white;

}
}